.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %a{href: "#"}
            %img.media-object{alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", src: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==", style: "width: 64px; height: 64px;"}/
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.name}", user_path(@prototype.user)
            %span.degree
              = @prototype.user.member
              = @prototype.user.works
    .col-md-6.text-right#good-button
      = render partial: "goods/good", locals: {prototype: @prototype}
  .row
    .col-md-9
      = image_tag @prototype.img_get("main").img_url, class: 'img-responsive fit_img'
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.img_get("sub").each do |sub_img|
          %li.list-group-item
            = image_tag(sub_img.img_url, class: 'img-responsive fit_img')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    - if user_signed_in? && (@prototype.user_id == current_user.id)
      .col-md-12.row
        = button_to "Edit", edit_prototype_path(@prototype), method: :get, class: "btn btn-primary btn-lg edit-btn"
        = button_to "Delete", prototype_path(@prototype), method: :delete, class: "btn btn-primary btn-lg edit-btn"
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (10)
    .col-md-8
      #comment_list
        = render @prototype.comments
      = form_for([@prototype, @comment], html:{class: "form-inline"}, remote: true) do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
          = f.text_area :comment, placeholder: "Your comments", rows:"3"
          .form-group.col-md-2
            = f.button "Comment", class: "btn btn-primary"
